<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post List</title>
</head>
<body>
    <h1>Список статей</h1>
    <ul>
        {% for post in posts %}
            <li>
                <h2>{{ post.title }}</h2>
                <p><strong>Slug:</strong> {{ post.slug }}</p>
                <p><strong>Дата публикации:</strong> {{ post.published_at }}</p>
                <p>{{ post.content }}</p>
                <small>Создано: {{ post.created_at }}</small>
            </li>
        {% endfor %}
    </ul>
</body>
</html>